.list-container {
  display: flex;
  margin: 30px 0;
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.list-frame {
  padding: 50px 100px;
  margin-left: 250px;
  margin-right: 20px;
  width: 1000px !important;
  border-radius: 60px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.list-frame h3 {
  display: flex;
  margin-top: -15px;
  margin-bottom: 20px;
}

#header,
#title {
  margin: 0 auto auto 0;
  padding: 8px 0 0;
  flex-shrink: 0;
  background-color: #074979;
  color: #ffff;
  width: 200px;
  height: 30px;
  display: block;
  border-radius: 15px;
}

#title {
  margin-top: 25px;
  width: 120px;
}

.select-container {
  margin-left: 1200px;
  margin-top: -25px;
  /* flex: 1;
  display: flex;
  justify-content: flex-end; */
}

.list-wrap {
  width: auto;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #074979;
  background-color: #ffff;
}

#goalList {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  text-align: right;
  margin-bottom: 5px;
  background-color: #ffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.content {
  text-align: left;
}

.tag,
.date {
  text-align: right;
  background-color: #ffff;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 0px;
}

.list-wrap.icon {
  font-size: 1.2em;
  margin-left: 10px;
  color: #074979;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#title-icon {
  margin-top: 25px;
}
