/* chart.css */
.body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-direction: column; /* Thiết lập layout theo cột */
  min-height: 100vh; /* Đảm bảo body có ít nhất 100% chiều cao của viewport */
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
}
.body .navbar-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Chiều cao tương đương với chiều rộng của trang */
  z-index: 1000; /* Đảm bảo navbar hiển thị trên các phần khác */
}
.body .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo hiển thị trên các phần khác */
}
.namepage {
  flex: 1;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  color: #074979;
}
.select {
  margin-left: 1200px;
  margin-top: -25px;
}

.body .chart-container {
  margin-top: 10px;
  margin-left: 350px;
  z-index: 1; /* Đảm bảo chart hiển thị phía sau navbar */
}
.chart-container canvas {
  overflow: scroll;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  width: 1000px !important;
  height: 400px !important;
}

/* Tùy chỉnh màu và độ dày của đường viền */
.chart-container canvas.chartjs-render-monitor {
  border: 3px solid black;
}

/* Tùy chỉnh màu của tiêu đề biểu đồ => Đang không dùng được*/
.chart-container .chart-title {
  color: black;
  font-size: 50px;
}

/* Tùy chỉnh màu của các nhãn trên trục y => Đang không dùng được*/
.chart-container .chart-y-axis {
  color: black;
}

.name2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #517fa1;
}
