/* chart.css */
.body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.body .navbar-menu-container {
  position: fixed;
  top: 81px;
  left: 0;
  height: 100%; /* Chiều cao tương đương với chiều rộng của trang */
  z-index: 1000; /* Đảm bảo navbar hiển thị trên các phần khác */
}
/* .body .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo hiển thị trên các phần khác */
.namepage {
  flex: 1;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 110px;
  margin-left: 200px;
  color: #074979;
}
.select {
  margin-left: 81%;
  margin-top: -25px;
}

.body .columnchart-container {
  margin-top: 10px;
  /* margin-left: 350px; */
  z-index: 1; /* Đảm bảo chart hiển thị phía sau navbar */
}
.columnchart-container canvas {
  overflow: scroll;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  width: 1000px !important;
  height: 400px !important;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
  margin-left: 24%;
}

/* Tùy chỉnh màu và độ dày của đường viền */
.columnchart-container canvas.chartjs-render-monitor {
  border: 3px solid black;
}

/* Tùy chỉnh màu của tiêu đề biểu đồ => Đang không dùng được*/
.columnchart-container .chart-title {
  color: black !important;
  font-size: 50px;
}

/* Tùy chỉnh màu của các nhãn trên trục y => Đang không dùng được*/
.columnchart-container .chart-y-axis {
  color: black;
}

.name2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-left: 200px;
  color: #517fa1;
}

/* Chi tiết */
.detailKPI {
  padding: 50px 100px;
  margin-left: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 1000px !important;
  height: 800px;
  border-radius: 60px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.detailKPI .detail-tittle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: -10px;
  color: #517fa1;
}

.detailKPI .suggest {
  width: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #074979;
  background-color: #ffff;
}

.detailKPI .activityKPI1 {
  width: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #074979;
  background-color: #ffff;
}

.activityKPI1 .activity-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 10px;
  color: #517fa1;
}

.activityKPI1 .complete-rate,
.each-time {
  font-size: 18px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 10px;
  color: #517fa1;
}
