.speed-chart-container {
  margin: 0;
  box-sizing: border-box;
  --c1: #c1262c;
  --c2: #db5c23;
  --c3: #f69220;
  --c4: #8ba247;
  --c5: #23b473;
  --score: 0;
  --min: 0;
  --max: 100;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed-chart-container .speedometer {
  width: 200px;
  height: 200px;
  padding: 100px;
  border-radius: 50%;
  background: radial-gradient(#ffff 0 0) content-box,
    conic-gradient(
      from -90deg,
      var(--c1) 36deg,
      var(--c2) 72deg,
      var(--c3) 108deg,
      var(--c4) 144deg,
      var(--c5) 180deg,
      #0000 0
    );
  position: relative;
}

.needle {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 140px;
  left: 6%;
  top: 5%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: conic-gradient(
        from 175deg at 50% 55%,
        #ccc 2deg,
        #074979 3deg 7deg,
        #ccc 8deg 10deg,
        #0000 0
      )
      0 -217px no-repeat,
    radial-gradient(white 0 -50%, #ccc 51%) content-box;
  transform: rotate(calc(var(--score) * 1.8deg - 90deg));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.score-container {
  box-sizing: content-box;
  position: absolute;
  width: 38%;
  height: 42%;
  z-index: 100;
}
.score-container .score {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 800;
  color: #074979;
  z-index: 100;
}

.marker {
  position: absolute;
  width: 3px;
  height: 100px;
  background-color: black;
  top: 0;
  transform-origin: bottom center;
}

.min-marker {
  left: 50%;
  transform: rotate(calc(var(--min) * 1.8deg - 90deg));
  height: 50%; /* Độ dài của vạch Min bằng độ rộng của speedometer */
  width: 3px;
}

.max-marker {
  left: 50%;
  transform: rotate(90deg); /* Always at 180 degrees */
  height: 50%;
  width: 3px;
}

.marker:hover::after {
  content: attr(title);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
  white-space: nowrap;
}
