.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  height: 400px;
  /*height: 100%;*/
  overflow: hidden; /* Tránh tràn nội dung */
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-container-card {
  overflow: hidden; /* Tránh tràn nội dung */
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-wrap {
  height: 85%;
  width: 50%;
  margin-top: 20px;
  transform: translateX(-10%);
  border-radius: 20px;
  overflow: hidden; /* Tránh tràn nội dung */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.flex-item {
  padding: 10px;
}

.calendar-container {
  width: 100%;
  transform: translateX(0%);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  overflow-y: auto;
  /*height: 500px;*/
}

.chart-container {
  margin-top: 10px;
  transform: translateX(-15%);
  overflow: hidden; /* Tránh tràn nội dung */
  flex: 1;
  display: flex;
  justify-content: center;
}

.chart {
  margin-top: 0px;
  width: 70%;
}

.add-button {
  transform: translateX(350%);
  margin-bottom: 0px;
  background-color: #074979;
  border-radius: 10px;
}

.card-warning {
  transform: translate(30%);
  background-color: #8fbcdd; /* Thay đổi màu nền thẻ */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 50%;
  margin-top: 10px;
  /*flex: 1;
  margin-right: 10px;*/
}

.act-list {
  max-width: 730px;
  width: 100%;
}

.act1 {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Bo tròn góc */
  margin-top: 0px; /* Khoảng cách với các phần tử khác phía trên */
  padding: 2px; /* Khoảng cách bên trong khung */
  transform: translateX(-10%);
  background: #8fbcdd;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.act-name {
  margin-left: 50px;
  width: 100%;
  max-width: 700px;
  font-size: 14px;
}

.update-button {
  border-radius: 10px;
  margin-right: 20px;
}

.time {
  display: block;
  font-size: 14px;
  color: #666;
}

.tag {
  border-radius: 20px;
  margin-left: 10px;
}

.actForm {
  display: block;
}
