.set-kpi-container {
  /* margin-left: 220px; */
  padding: 20px 32px;
  overflow: auto;
  /* height: calc(100vh); */
}

.set-kpi-steps-icon {
  padding: 12px;
  border-radius: 50%;
  background-color: #074979;
  width: 30px;
  height: 30px;
}

.set-kpi-icon {
  color: white;
  font-size: 30px;
}
